<div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/bank.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        My Bank
    </div>
    <!-- <h6>{{aim}}</h6> -->
    <!-- property binding [formGroup] -->
    <form [formGroup]="registerForm" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <input formControlName="uname" type="text" name="uname" id="login_uname" placeholder="Enter ur username">
        </div>
        <div class="form-field d-flex align-items-center">
            <input formControlName="acno"  type="text" name="acno" id="login_acno" placeholder="Enter ur acno">
        </div>
        <div class="form-field d-flex align-items-center">
            <input formControlName="pswd"  type="password" name="pswd" id="login_pswd" placeholder="Password">
        </div>
        <button class="btn mt-3" (click)="register()" type="button" >Submit</button>
    </form>
    <div class="text-center fs-5 mt-3">
        <a href="#">Forget password?</a> or <a routerLink="">Sign up</a>
    </div>
</div>
